<section class="container-fluid">
  <div class="row bg-dark text-white">
    <div class="col-lg-7 p-0">

      {{!-- Carrousel --}}
      <div class="carrousel">
        <div id="carouselSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/img/alladin.jpg" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/darkphoenix2.jpg" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/johnwick.jpg" alt="Terceiro Slide">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 p-4 align-self-center">
      <h1 class="display-4"> Encontre as melhores seleções de filmes</h1>
      <p class="lead">Depois é so separar a pipoca e maratonar.</p>
{{#if user}}
{{else}}
      <button type="submit" class="btn btn-primary" data-toggle="modal"
            data-target="#modalCadastro">Increva-se</button>
{{/if}}
    </div>

    {{!-- Fecha Carrousel --}}

  </div>
</section>

<section class="container">
  {{!-- <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Digite o nome do filme" aria-label="search"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" id="button-addon2">Buscar</button>
      </div>
    </div> --}}
  <div>



    <h4 class="text-center mt-5">BEST CURATORS</h4>
  </div>
  {{#each data}}
      <div class="row mt-4 mb-4 box-shadow">
        <div class="col text-center">
          <img src={{ this.image }} class="profile" alt="user">
          <p>{{ this.name}}</p>
        </div>
        <div class="col xs-6 col-sm-8 col-lg-10">
          {{ this.description }}
        </div>
        <div class="col">
          <p class="text-right">#{{ @index }}</p>
        </div>
      </div>
    </a>
    {{/each}}
  </section>