<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <!-- Modal Login -->

  <div class="modal" id="modalLogin" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Log into your account:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login" method="post">
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Type your email" name="email" required>
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Type your password"
                name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Fecha Modal Login-->


  <!-- Modal Cadastro -->

  <div class="modal" id="modalCadastro" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Register your account:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signup" method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input class="form-control" id="nome" type="text" placeholder="Type your complete name" name="name" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Type you emaiç" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Type your password"
                name="password" required>
            </div>
            <div class="form-group">
              <label for="role">Type</label>
              <select class="form-control" name="role">
                <option value="USER" selected>User</option>
                <option value="CURATOR">Curator</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Fecha Modal Cadastro -->

  <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top py-3 box-shadow">
    <a href="/" class="navbar-brand font-weight-bolder logo">RATOR find your movie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <a href="/review/search" class="nav-link">Search</a>
        </li>
        {{#if showCurator}}
        <li class="nav-item">
          <a href="/review/create" class="nav-link">Review</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        </li>
        <li class="nav-item">
          <a href="/user/profile/{{user.id}}" class="btn btn-outline-primary ml-md-2">{{user.name}}</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#modalLogin">Login</a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn btn-outline-primary ml-md-2" data-toggle="modal"
            data-target="#modalCadastro">Subscribe</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>

  {{{body}}}

  <footer class="bg-dark text-white">
    <div class="container py-4 ">
      <div class="row">
        <div class="col">
          <h4 class="h6">PAGES</h4>
          <ul class="list-unstyled">
            <li><a href="/review/search" class="text-secondary">Search</a></li>
            <li><a href="#" class="text-secondary">Contact</a></li>
            <li><a href="#" class="text-secondary" data-toggle="modal"
            data-target="#modalCadastro">Subscribe</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4 class="h6">CONTACT</h4>
          <ul class="list-unstyled text-secondary">
            <li>rator@rator.com.br</li>
            <li>11 99999-9999</li>
            <li>From Mon. to Fri. - 9h to 18h</li>
          </ul>
        </div>
        <div class="col">
          <h4 class="h6">SOCIAL MEDIA</h4>
          <ul class="list-unstyled mt-3">
            <li><a href="#" class="btn btn-outline-secondary btn-sm btn-block mb-2"
                style="max-width: 140px">Facebook</a></li>
            <li><a href="#" class="btn btn-outline-secondary btn-sm btn-block mb-2" style="max-width: 140px">Twitter</a>
            </li>
            <li><a href="#" class="btn btn-outline-secondary btn-sm btn-block mb-2" style="max-width: 140px">Youtube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

  <script src="/javascript/script.js"></script>
  <script src="/javascript/movie.js"></script>
</body>

</html>