<div class="container alt">
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-center">
      <img src="{{userData.image}}" class="profile-page" alt="user">
    </div>
    <div class="col-12 d-flex justify-content-center">
      <h2>{{userData.name}}</h2>
      <input value="{{userData.id}}" id="idValue" hidden>

    </div>
    <div class="col d-flex align-items-center d-flex justify-content-center mb-5">
      {{#if showStar}}
      <span id="starHit"><img src="/img/star-vazio.png" id="star" class="star" alt="star-vazio"><img></span>
      {{else}}
      <a href="/user/edit"><img src="/img/edit-24px.svg" alt=""></a>
      {{/if}}
    </div>
  </div>
  <div class="row">
  {{#if showCurator}}
    <div class="col mt-5 mb-5">
      <p>About:</p>
    </div>
    <div class="col xs-6 col-sm-8 col-lg-10 text-left mb-5 d-flex align-items-center mt-5">
      <p>{{userData.description}}</p>
    </div>
  {{/if}}
  </div>
  {{#each reviewsData}}
  <div class="row bg-light rounded box-shadow mb-4">
    <div class="col-6 mt-2">
      <h3>{{ this.name }}</h3>
    </div>
    <div class="col-6 d-flex justify-content-end mt-1">
      <div class="d-flex align-items-center mx-2"><a href="/review/view/{{this.id}}"><img src="/img/launch-24px.svg"></a></div>
      {{#if showStar}}
      <div class="d-flex align-items-center mx-2"><a href="/review/edit/{{this.id}}"><img src="/img/edit-24px.svg"></a></div>
      <div class="d-flex align-items-center mx-2"><a href="/review/delete/{{this.id}}"><img src="/img/delete-24px.svg"></a></div>
      {{else}}
      {{/if}}
      {{#if this.liked}}
      <div class="mt-2"><img src="/img/star-cheio.png" id="star" class="star" alt="star-cheio"><img></div>
      {{else}}
      <div class="mt-2"><img src="/img/star-vazio.png" id="star" class="star" alt="star-vazio"><img></div>
      {{/if}}
    </div>
  </div>
  {{/each}}

</div>