<div class="container">
  <div class="row d-flex justify-content-between mt-4">
    <div class="col">
      <img src={{data.image}} class="profile-page" alt="user">
      <p>{{data.name}}</p>
      <input value="{{data.id}}" id="idValue" hidden>
    </div>
    {{!-- <div class="col col xs-6 col-sm-8 col-lg-8"></div> --}}
    <div class="col d-flex align-items-center d-flex justify-content-end">
      {{#if showStar}}
      <span id="starHit"><img src="/img/star-vazio.png" id="star" class="star" alt="star-vazio"><img></span>
      {{else}}
      <a href="/user/edit" class="btn btn-primary">Editar</a>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Sobre:</p>
    </div>
    <div class="col xs-6 col-sm-8 col-lg-10 text-left mb-5">
      <p>{{data.description}}</p>
    </div>
  </div>
</div>